doctype
html
    head
        meta(charset="utf-8")
        link(rel="stylesheet",href="/css/main.css")
        script(src="main.js")
        script.
        
    body
        div(class="page main")#div1
            ul.list
                each a in arr 
                   li=a
            p.
                adfadfa
                sfafadfa
                dfdafd
                sdfdadfdaaf

            span username
                = name
                = a+b
            
