<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="vue.js" charset="utf-8"></script>
    <script>
        window.onload= function(){
            new Vue({
                el:'#div1',
                data:{
                    family:'',
                    last:'',
                    // name:'charlie'  overwrite computed name
                },
                
                computed:{
                 name:{
                     get(){
                         return this.family + this.last;
                     },
                     set(newVal){
                        this.family= newVal.charAt(0);
                        this.last = newVal.substring(1);
                     }
                 }
                }

            });
        };
    </script>
</head>
<body>
    <div id="div1">
       Family name: <input type="text" name="" value="" v-model="family">
        Last name: <input type="text" name="" value="" v-model="last">
        {{name}}

        <hr>

        <input type="text" v-model="name">
    </div>
   
</body>
</html> 